.boton {
    background-color: #6278F7;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-weight: 700;
    padding: 24px 32px;
    border:none;
    color: #FFFFFF;
    margin: 32px 0;
    cursor: pointer;

}
.boton:hover{
    color:#95ffD4
}